body, html {
  background-color: $primary-color;
}

.standard-layout {

  > header {
    background-color: $secondary-color;
    line-height: 40px;

    a:link, a:visited {
      @include font(regular);
      color: $text-on-secondary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      @include font(semibold);
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 19px;
      a:link, a:visited {
        color: $text-on-secondary-color;
        text-decoration:none;
      }
    }

    .admin-links {
      .login, .logout, .org-admin-link {
        float:right;
        margin-left: 20px;
      }
    }
  }
}
