.edit-appeals-list-item {
  @include appeals-list-item;
  .stats {
    .state {
      font-size: 12px;
      color: color("grey", "darken-1");
      margin-top: 1em;
    }
  }
  .pledge-list-toggle {
    cursor: pointer;
    span {
      position: relative;
      top: -6px;
    }
  }
  .appeal-pledges-list-item {
    a {
      color: $link-color;
      text-transform: none;
      margin: 0;
      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }
}
