.open-appeals-list-item {
  @include appeals-list-item;
  @include transition(height 250ms);
  .pledge {
    line-height: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    float: right;
  }
  .card-reveal {
    height: auto;
  }
}