.page {

  header {
    text-align: center;
    clear: both;
  }

  section {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    @include headline();
    margin-bottom: 2em;
  }

  h2 {
    @include font(regular);
    text-align: center;
  }

  h3 {
    @include font(regular);
    text-align: center;
  }
}
