.page {
  @include grid-row();

  header {
    text-align: center;
    clear: both;
  }

  h1 {
    @include headline();
    margin-bottom: 2em;
  }

  h2 {
    @include font(regular);
    text-align: center;
  }

  h3 {
    @include font(regular);
    text-align: center;
  }
}
