.page {

  section {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 0 auto;
  }

  h3 {
    @include font(regular);
    text-align: center;
    font-size: 1.5rem;
  }

  h4 {
    @include font(regular);
    text-align: center;
    font-size: 1.3rem;
  }
}
