.location.form {

  .zip {
    @include grid-column(2);
  }

  .city {
    @include grid-column(6);
  }

  .country {
    @include grid-column(4);
  }

}

.edit-locations-list {
  margin-bottom: 20px;
}

.edit-locations-list-item {
  margin-bottom: 20px;
  text-align: center;
  @include box-background();
  .name {
    @include font(semibold);
    display: block;
  }
  .edit {
    font-size: 12px;
    color: $color-contrast;
  }
  .address, .opening-hours {
    font-size: 12px;
    margin: 0;
  }
  label {
    display: inline;
    font-size: 12px;
    @include font(semibold);
  }
}
