$landing-page-images: '/images/';

#landing-page {

  section {
    @include grid-row();
  }

  header {
    text-align: center;
  }

  h1 {
    @include headline();
  }

  h2 {
    @include font(regular);
    font-size: 14px;
    text-align: center;
    margin-top: 0;
  }

  .explanation {
    @include grid-row();
    .step {
      @include grid-column($columns: 4);
      @include font(semibold);
      font-size: 12px;
      text-align: center;
    }
  }

  .step {
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 250px;
    &.donations {
      background-image: url("#{$landing-page-images}/donations-icon.svg");
    }
    &.find-orgs {
      background-image: url('#{$landing-page-images}/find-org-icon.svg');
    }
    &.deliver {
      background-image: url('#{$landing-page-images}/deliver-icon.svg');
    }
    &.request {
      background-image: url('#{$landing-page-images}/request-icon.svg');
    }
    &.receive {
      background-image: url('#{$landing-page-images}/receive-icon.svg');
    }
  }

  .action {
    text-align: center;
    margin-top: 1em;
  }

  .button {
    background-color: $color-contrast;
    color: $color-text-on-contrast;
    &:hover {
      text-decoration: underline;
    }
  }

}
