
#register-page {
  form {
    @include grid-column(
      $columns: $total-columns / 2,
      $center: true
    )
  }

  .error {
    color: $color-error-on-main;
    float: left;
  }

  .submit {
    float: right;
  }
}

.registration-form {

  .org-name {
    @include grid-column($columns:8);
  }

  .org-country {
    @include grid-column($columns:4);
  }

}
