.open-appeals-list-item {
  .row {
    margin-bottom: 0 !important;
  }
  .header {
    font-size: 20px;
    .title, .quantity {
      @include font(semibold);
    }
  }
  .stats {
    float: right;
    text-align: right;
    .label {
      color: lighten($color-contrast, 5%);
      font-size: 14px;
    }
  }
  .description {
    color: lighten($color-contrast, 5%);
    font-size: 14px;
    margin: 12px 0;
  }
  .meta {
    font-size: 12px;
    color: lighten($color-contrast, 30%);
  }
  .pledge {
    line-height: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    float: right;
  }
  .footer {
    border-top: 1px solid darken(white, 5%);
    margin-top: 6px;
    padding-top: 12px;
  }
}