body, html {
  @include font(normal);
  background-color: $color-main;
}

.standard-layout {

  > header {
    background-color: $color-contrast;
    line-height: 40px;

    .top-menu {
      @include grid-row();
    }

    a:link, a:visited {
      color: $color-text-on-contrast;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      @include grid-column(4);
      @include grid-column-offset(4);
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 700;
      a:link, a:visited {
        color: $color-text-on-contrast;
        text-decoration:none;
      }
    }

    .admin-links {
      @include grid-column(4)
      .login, .logout, .org-admin-link {
        float:right;
        margin-left: 20px;
      }
    }
  }
}
