body, html {
  @include font(normal);
  height: 100%;
}

#__blaze-root {
  height: 100%;
}

.page {
  background-color: $color-main;
  height: 100%;

  > header {
    background-color: $color-contrast;
    line-height: 40px;
    h1 {
      @include grid-row();
      text-align: center;
      color: $color-text-on-contrast;
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 700;
    }
  }
}
